@import '/src/_variables.scss';

.construction-container {
  margin-top: auto !important;
  margin-bottom: auto;
  margin-left: 5%;
  .title,
  .subtitle {
    font-family: $AG-trial-heavy;
    letter-spacing: 10px;
    text-align: center;
  }
  .title {
    font-size: 18px;
    color: #000000;
  }
  .subtitle {
    font-size: 16px;
    color: #ffea29;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .construction-container {
    margin-left: 0;
    .title {
      font-size: 3rem;
    }
    .subtitle {
      font-size: 2rem;
    }
  }
}
