@font-face {
  font-family: 'ABCMonumentGrotesk-Heavy-Trial';
  src: url('./assets/ABCMonumentGrotesk-Heavy-Trial.otf') format('opentype');
}

$AG-trial-heavy: ABCMonumentGrotesk-Heavy-Trial;

$light-grey: #7d7d7d;
