@import '/src/_variables.scss';

.danyali-container {
  min-height: 100vh;
  display: flex;
  .main {
    &-title-container {
      margin-bottom: 20px;
      margin-top: 15px;
      .h1-title {
        font-family: $AG-bold;
        padding-left: 5px;
        letter-spacing: 10px;
        text-decoration: none;
        color: #000;
      }
    }
    &-container {
      width: 100%;
    }
    &-router-container {
      height: calc(100vh - 120px);
      > .row {
        height: 100%;
      }
    }
    &-side-container {
      width: 60px;
      max-height: calc(100vh - 92px);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      margin-right: -20px;
      padding-top: 24px;
      .h1-title {
        font-family: $AG-bold;
        transform: rotate(90deg);
        transform-origin: top;
        width: 0;
        margin-top: 0px;
      }
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .danyali-container {
    .main {
      &-title-container {
        margin-top: 20px;
        .h1-title {
          padding-left: 5rem;
        }
      }
      &-router-container {
        margin-left: 5rem;
      }
      &-side-container {
        margin-left: 20px;
        margin-right: 0;
      }
    }
  }
}
